@use '../../styles/variables' as vars;

.categories {
	padding: 40px 0px 53px;
}
.container {
	max-width: vars.$container-max-width;
	padding: 0px 40px;
	margin: 0 auto;
}

.title {
	padding-bottom: 40px;
	display: flex;
	align-items: center;
}

.devider {
	border: 1px solid #ddd;
	width: 100%;
}
.primaryLink {
	border: 1px solid #ddd;
	border-radius: 6px;
	padding: 8px 16px;
	color: #ddd;
	min-width: 142px;
	text-decoration: none;
}
.list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 32px;
	list-style: none;
	padding: 0;
	margin: 0;
}
.item {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.img {
	border-radius: 12px;
	max-width: 316px;
	max-height: 350px;
	object-fit: cover;
	object-position: center;
	width: 100%;
}
.linkToCategori {
	text-decoration: none;
}
.secondTitle {
	margin-top: 16px;
	text-align: center;
}